Ejercicio 1/ClienteWebFormObligatorio/ClienteWebFormObligatorio/Service References/AlumnoServicioRemoto/AlumnoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioWCFObligatorio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioWCFObligatorio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
</xs:schema>