Ejercicio 1/ClienteWebFormObligatorio/ClienteWebFormObligatorio/Service References/AlumnoServicioRemoto/AlumnoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlumnoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49696/AlumnoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49696/AlumnoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49696/AlumnoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWCFObligatorio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlumnoService_ObtenerAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_ObtenerAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_ObtenerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodos" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_ObtenerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_AgregarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnoService_AgregarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlumnoService">
    <wsdl:operation name="ObtenerAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/ObtenerAlumno" message="tns:IAlumnoService_ObtenerAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/ObtenerAlumnoResponse" message="tns:IAlumnoService_ObtenerAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/ObtenerTodos" message="tns:IAlumnoService_ObtenerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/ObtenerTodosResponse" message="tns:IAlumnoService_ObtenerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoService/AgregarAlumno" message="tns:IAlumnoService_AgregarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoService/AgregarAlumnoResponse" message="tns:IAlumnoService_AgregarAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlumnoService" type="tns:IAlumnoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/ObtenerAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodos">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/ObtenerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnoService/AgregarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumnoService">
    <wsdl:port name="BasicHttpBinding_IAlumnoService" binding="tns:BasicHttpBinding_IAlumnoService">
      <soap:address location="http://localhost:49696/AlumnoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>